.gold-border-wrapper{
    position: relative;
    width: 90%;
    position: relative;
    &:before{
        content: '';
        position: absolute;
        right: -12px;
        bottom: 0;
        width: 12px;
        height: 80%;
        background-color: #CEBD88;
    }
    &:after{
        content: '';
        position: absolute;
        right: -12px;
        bottom: -12px;
        width: 8%;
        min-width: 82px;
        height: 12px;
        background-color: #CEBD88;
    }

    @media screen and (max-width: 1023px) {
        width: 90vw;
    }
}

.slider-container {
    width: 100%;
    border: solid white 12px;
    height: calc(100vh - 107px);
    overflow: hidden;
    @media screen and (max-width: 1023px) {
        height: calc(100vh - 148px);
    }
    
}

.swiper-wrapper {
    width: 80%;
    position: relative;
    height: 100%;
    z-index: 1;
    display: flex;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    box-sizing: content-box;
}

.single-slide {
    width: 100%;
    height: 100%;
    position: relative;
    img {
        width: 100%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }
}
