.wrapper {
    padding: 32px 20px;
}

.services-intro {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1.8px;
    line-height: 1.1;
    margin-top: 16px;
    margin-bottom: 32px;
    text-align: center;
    max-width: 980px;
    margin: 0 auto;
    @media screen and (max-width: 1023px) {
        font-size: 15px;
        letter-spacing: 1.5px;
        line-height: 1.3;
        margin-bottom: 24px;
    }
}

.card-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 12px 4px 0px;

    @media screen and (max-width: 1023px) {
        flex-direction: column;
    }
}